body{

}

#header, #main-topic, #event-info-min, #main-title, #images-meta, #event-info-detailed, #footer{
    background-color: #3B3566;
}

#main-title{
    background-color: #ff12d5;
}

.navbar {
    height: 100px;
}
